<nav class="navbar navbar-custom navbar-fixed-top bg-dark" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Juju Design</a>
      </div>
      <div class="collapse navbar-collapse" id="custom-collapse" style="text-align: center;">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/admin/article/show">Gestion articles</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/admin/other/show">Gestion autres</a>
          </li>
            <li class="nav-item"><a class="nav-link" href="/admin/commande/show">Gestion des commandes</a></li>
            <li class="nav-item"><div><a style="color : black; margin-top:8px;" class="nav-link btn btn-g btn-round btn-block pt-2" href="/logout" role="button">Se deconnecter</a></div></li>
        </ul>
      </div>
    </div>
  </nav>