{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block body %}

<hr class="divider-w">
<section class="module-small">
  <div class="container">
  <div id="message_flashed"></div>
      <div class="row multi-columns-row">


          <div class="col-md-6" >
              <h4>Marques <a data-toggle="modal" data-target="#ajout_marque" style="cursor: pointer;"><i class="fa fa-fw">&#xf067;</i></a></h4>
              <table class="table table-striped table-border checkout-table">
                  <tbody>
                  <tr>
                      <th class="hidden-xs">Id</th>
                      <th>Libelle</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>
                  </tr>
                  {% for ma in marque %}
                      <tr>
                          <td>{{ ma.id_marque }}</td>
                          <td>{{ ma.libelle_marque }}</td>
                          <td><button class="btn btn-d btn-circle btn-xs" data-toggle="modal" data-target="#edit_marque{{ ma.id_marque }}" data-whatever="Nike">Modifier</button></td>
                          <td><a href="/admin/other/marque/delete/{{ ma.id_marque }}"><button class="btn btn-danger btn-circle btn-xs" >Supprimer</button></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>

          <div class="col-md-6">
              <h4>Styles <a data-toggle="modal" data-target="#ajout_style" style="cursor: pointer;"><i class="fa fa-fw">&#xf067;</i></a></h4>
              <table class="table table-striped table-border checkout-table">
                  <tbody>
                  <tr>
                      <th class="hidden-xs">Id</th>
                      <th>Libelle</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>
                  </tr>
                  {% for ma in style %}
                      <tr>
                          <td>{{ ma.id_style }}</td>
                          <td>{{ ma.libelle_style }}</td>
                          <td><button class="btn btn-d btn-circle btn-xs" data-toggle="modal" data-target="#edit_style{{ ma.id_style }}">Modifier</button></td>
                          <td><a href="/admin/other/style/delete/{{ ma.id_style }}"><button class="btn btn-danger btn-circle btn-xs" >Supprimer</button></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>

          <div class="col-md-6">
              <h4>Matières <a data-toggle="modal" data-target="#ajout_matiere" style="cursor: pointer;"><i class="fa fa-fw">&#xf067;</i></a></h4>
              <table class="table table-striped table-border checkout-table">
                  <tbody>
                  <tr>
                      <th class="hidden-xs">Id</th>
                      <th>Libelle</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>
                  </tr>
                  {% for ma in matiere %}
                      <tr>
                          <td>{{ ma.id_matiere }}</td>
                          <td>{{ ma.libelle_matiere }}</td>
                          <td><button class="btn btn-d btn-circle btn-xs" data-toggle="modal" data-target="#edit_matiere{{ ma.id_matiere }}">Modifier</button></td>
                          <td><a href="/admin/other/matiere/delete/{{ ma.id_matiere }}"><button class="btn btn-danger btn-circle btn-xs" >Supprimer</button></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>

          <div class="col-md-6">
              <h4>Tailles <a data-toggle="modal" data-target="#ajout_taille" style="cursor: pointer;"><i class="fa fa-fw">&#xf067;</i></a></h4>
              <table class="table table-striped table-border checkout-table">
                  <tbody>
                  <tr>
                      <th class="hidden-xs">Id</th>
                      <th>Libelle</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>
                  </tr>
                  {% for ma in taille %}
                      <tr>
                          <td>{{ ma.id_taille }}</td>
                          <td>{{ ma.libelle_taille }}</td>
                          <td><button class="btn btn-d btn-circle btn-xs" data-toggle="modal" data-target="#edit_taille{{ ma.id_taille }}">Modifier</button></td>
                          <td><a href="/admin/other/taille/delete/{{ ma.id_taille }}"><button class="btn btn-danger btn-circle btn-xs" >Supprimer</button></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>

          <div class="col-md-6">
              <h4>Sexes <a data-toggle="modal" data-target="#ajout_sexe" style="cursor: pointer;"><i class="fa fa-fw">&#xf067;</i></a></h4>
              <table class="table table-striped table-border checkout-table">
                  <tbody>
                  <tr>
                      <th class="hidden-xs">Id</th>
                      <th>Libelle</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>
                  </tr>
                  {% for ma in sexe %}
                      <tr>
                          <td>{{ ma.id_sexe }}</td>
                          <td>{{ ma.libelle_sexe }}</td>
                          <td><button class="btn btn-d btn-circle btn-xs" data-toggle="modal" data-target="#edit_sexe{{ ma.id_sexe }}">Modifier</button></td>
                          <td><a href="/admin/other/sexe/delete/{{ ma.id_sexe }}"><button class="btn btn-danger btn-circle btn-xs" >Supprimer</button></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>

          <div class="col-md-6">
              <h4>Types <a data-toggle="modal" data-target="#ajout_type" style="cursor: pointer;"><i class="fa fa-fw">&#xf067;</i></a></h4>
              <table class="table table-striped table-border checkout-table">
                  <tbody>
                  <tr>
                      <th class="hidden-xs">Id</th>
                      <th>Libelle</th>
                      <th>Saison</th>
                      <th>Modifier</th>
                      <th>Supprimer</th>
                  </tr>
                  {% for ma in type %}
                      <tr>
                          <td>{{ ma.id_type_vetement }}</td>
                          <td>{{ ma.libelle_type_vetement }}</td>
                          <td>{{ ma.libelle_saison }}</td>
                          <td><button class="btn btn-d btn-circle btn-xs" data-toggle="modal" data-target="#edit_type{{ ma.id_type_vetement }}">Modifier</button></td>
                          <td><a href="/admin/other/type/delete/{{ ma.id_type_vetement }}"><button class="btn btn-danger btn-circle btn-xs" >Supprimer</button></a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>

      </div>
  </div>
</section>

<div class="modal-stock">


<!-- Modal marque -->
<div class="modal fade" id="ajout_marque" tabindex="-1" role="dialog" aria-labelledby="ajout_marque" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form action="admin/marque/add" method="post">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter une marque</h5>
              </div>
              <div class="modal-body">
                  <label for="nom">Nom de la marque</label>
                  <input class="form-control" name="libelle" type="text" id="nom" placeholder="Nom de la marque" required>
              </div>
              <div class="modal-footer" style="border: none">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
              </div>
          </div>
      </form>
  </div>
</div>

{% for ma in marque %}
    <div class="modal fade" id="edit_marque{{ ma.id_marque }}" tabindex="-1" role="dialog" aria-labelledby="edit_marque" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <form action="/admin/other/marque/edit/{{ ma.id_marque }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Modifier la marque n°{{ ma.id_marque }}</h5>
                    </div>
                    <div class="modal-body">
                        <label for="nom">Nom de la marque</label>
                        <input class="form-control" name="libelle" type="text" id="data-recipient" placeholder="Nom de la marque" required value="{{ ma.libelle_marque }}">
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endfor %}


<!-- Modal style -->
<div class="modal fade" id="ajout_style" tabindex="-1" role="dialog" aria-labelledby="ajout_style" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form action="admin/style/add" method="post">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter un style</h5>
              </div>
              <div class="modal-body">
                  <label for="nom">Nom du style</label>
                  <input class="form-control" name="libelle" type="text" id="nom" placeholder="Nom du style" required>
              </div>
              <div class="modal-footer" style="border: none">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
              </div>
          </div>
      </form>
  </div>
</div>

{% for ma in style %}
    <div class="modal fade" id="edit_style{{ ma.id_style }}" tabindex="-1" role="dialog" aria-labelledby="edit_style" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <form action="/admin/other/style/edit/{{ ma.id_style }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Modifier le style n°{{ ma.id_style }}</h5>
                    </div>
                    <div class="modal-body">
                        <label for="nom">Nom de la style</label>
                        <input class="form-control" name="libelle" type="text" id="data-recipient" placeholder="Nom de la style" required value="{{ ma.libelle_style }}">
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endfor %}


<!-- Modal matiere -->
<div class="modal fade" id="ajout_matiere" tabindex="-1" role="dialog" aria-labelledby="ajout_matiere" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form action="admin/matiere/add" method="post">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter une matiere</h5>
              </div>
              <div class="modal-body">
                  <label for="nom">Nom de la matiere</label>
                  <input class="form-control" name="libelle" type="text" id="nom" placeholder="Nom de la matiere" required>
              </div>
              <div class="modal-footer" style="border: none">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
              </div>
          </div>
      </form>
  </div>
</div>
{% for ma in matiere %}
    <div class="modal fade" id="edit_matiere{{ ma.id_matiere }}" tabindex="-1" role="dialog" aria-labelledby="edit_matiere" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <form action="/admin/other/matiere/edit/{{ ma.id_matiere }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Modifier la matiere n°{{ ma.id_matiere }}</h5>
                    </div>
                    <div class="modal-body">
                        <label for="nom">Nom de la matiere</label>
                        <input class="form-control" name="libelle" type="text" id="data-recipient" placeholder="Nom de la matiere" required value="{{ ma.libelle_matiere }}">
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endfor %}


<!-- Modal taille -->
<div class="modal fade" id="ajout_taille" tabindex="-1" role="dialog" aria-labelledby="ajout_taille" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form action="admin/taille/add" method="post">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter une taille</h5>
              </div>
              <div class="modal-body">
                  <label for="nom">Nom de la taille</label>
                  <input class="form-control" name="libelle" type="text" id="nom" placeholder="Nom de la taille" required>
              </div>
              <div class="modal-footer" style="border: none">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
              </div>
          </div>
      </form>
  </div>
</div>

{% for ma in taille %}
    <div class="modal fade" id="edit_taille{{ ma.id_taille }}" tabindex="-1" role="dialog" aria-labelledby="edit_taille" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <form action="/admin/other/taille/edit/{{ ma.id_taille }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Modifier la taille n°{{ ma.id_taille }}</h5>
                    </div>
                    <div class="modal-body">
                        <label for="nom">Nom de la taille</label>
                        <input class="form-control" name="libelle" type="text" id="data-recipient" placeholder="Nom de la taille" required value="{{ ma.libelle_taille }}">
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endfor %}


<!-- Modal sexe -->
<div class="modal fade" id="ajout_sexe" tabindex="-1" role="dialog" aria-labelledby="ajout_sexe" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form action="admin/sexe/add" method="post">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter un sexe</h5>
              </div>
              <div class="modal-body">
                  <label for="nom">Nom du sexe</label>
                  <input class="form-control" name="libelle" type="text" id="nom" placeholder="Nom du sexe" required>
              </div>
              <div class="modal-footer" style="border: none">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
              </div>
          </div>
      </form>
  </div>
</div>

{% for ma in sexe %}
    <div class="modal fade" id="edit_sexe{{ ma.id_sexe }}" tabindex="-1" role="dialog" aria-labelledby="edit_sexe" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <form action="/admin/other/sexe/edit/{{ ma.id_sexe }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Modifier la sexe n°{{ ma.id_sexe }}</h5>
                    </div>
                    <div class="modal-body">
                        <label for="nom">Nom du sexe</label>
                        <input class="form-control" name="libelle" type="text" id="data-recipient" placeholder="Nom de la sexe" required value="{{ ma.libelle_sexe }}">
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endfor %}


<!-- Modal type -->
<div class="modal fade" id="ajout_type" tabindex="-1" role="dialog" aria-labelledby="ajout_type" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <form action="admin/type/add" method="post">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter une type</h5>
              </div>
              <div class="modal-body">
                  <label for="nom">Nom du type de vetement</label>
                  <input class="form-control" name="libelle" type="text" id="nom" placeholder="Nom du type" required>
                  <select class="form-control mt-10" name="saison" required>
                      <option value="">Choisir une saison</option>
                      {% for sais in saison %}
                      <option value="{{ sais.id_saison }}">{{ sais.libelle_saison }}</option>
                      {% endfor %}
                      
                  </select>
              </div>
              <div class="modal-footer" style="border: none">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
              </div>
          </div>
      </form>
  </div>
</div>

{% for ma in type %}
    <div class="modal fade" id="edit_type{{ ma.id_type_vetement }}" tabindex="-1" role="dialog" aria-labelledby="edit_type" aria-hidden="true">

        <div class="modal-dialog" role="document">
            <form action="/admin/other/type/edit/{{ ma.id_type_vetement }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Modifier le type n°{{ ma.id_type }}</h5>
                    </div>
                    <div class="modal-body">
                        <label for="nom">Nom du type</label>
                        <input class="form-control" name="libelle" type="text" id="data-recipient" placeholder="Nom du type" required value="{{ ma.libelle_type_vetement }}">
                        <select class="form-control mt-10" name="saison" required>
                            <option value="">Choisir une saison</option>
                            {% for sais in saison %}
                                <option value="{{ sais.id_saison }}" {% if sais.id_saison == ma.id_saison %}selected{% endif %} >{{ sais.libelle_saison }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer" style="border: none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endfor %}

</div>
    
{% endblock %}