{% extends 'layout.html' %}

{% block title %}
    Commandes
{% endblock %}

{% block body %}
<div class="main">
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt">COMMANDE</h1>
              </div>
            </div>
            <hr class="divider-w pt-20">
          {% if commandes %}

              <div class="row">
                  <div class="col-sm-12">
                      <table class="table table-striped table-border checkout-table">
                          <tbody>
                          <tr>
                              <th>Id</th>
                              <th>Destinataire</th>
                              <th>Date de la commande</th>
                              <th>Adresse de livraison</th>
                              <th class="hidden-xs">Etat</th>
                              <th class="hidden-xs">Plus d'infos</th>
                          </tr>


                          {% for commande in commandes %}
                              <tr {% if commande.id_etat == 4 %}style="text-decoration: line-through"{% endif %} >
                                  <td>
                                      <h5 class="product-title font-alt">{{ commande.id_commande }}</h5>
                                  </td>
                                  <td><h5 class="product-title font-alt">{{ commande.username_users }}</h5></td>
                                  <td>
                                      <h5 class="product-title font-alt">{{ commande.date_commande }}</h5>
                                  </td>
                                  <td>
                                      <h5 class="product-title font-alt">{{ commande.ligne_adresse }} {{ commande.ligne_2_adresse }}, {{ commande.ville_adresse }} {{ commande.cp_adresse }}, {{ commande.pays_adresse }}</h5>
                                  </td>
                                  <td>
                                      <h5 class="product-title font-alt">
                                          <select class="form-control" name="etat{{ commande.id_commande }}" id="etat{{ commande.id_commande }}" onchange="changement_etat({{ commande.id_commande }})">
                                              {% for etat in etats %}
                                                  <option value="{{ etat.id_etat }}" {% if etat.id_etat == commande.id_etat %}selected{% endif %} >{{ etat.libelle_etat }}</option>
                                              {% endfor %}
                                          </select>
                                      </h5>
                                  </td>
                                  <td>
                                      <h5 class="product-title font-alt"><a href="/admin/commande/show/details/{{ commande.id_commande }}&{{ commande.id_users }}"><button class="btn btn-d btn-circle">En voir plus !</button></a></h5>
                                  </td>
                              </tr>
                          {% endfor %}

                          </tbody>
                      </table>
                  </div>
              </div>


              {% elif commande %}
              <div class="container">
                          <h4>La commande <strong style="color:green;">n°{{ commande[0].id_commande }}</strong> passée le <strong style="color:green;">{{ commande[0].date_commande }}</strong> est <strong style="color:green;">{{ commande[0].libelle_etat }}</strong></h4>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <table class="table table-striped table-border checkout-table">
                          <tbody>
                          <tr>
                              <th class="hidden-xs">Produit</th>
                              <th>Description</th>
                              <th class="hidden-xs">Prix</th>
                              <th>Quantité</th>
                              <th>Total</th>
                          </tr>


                          {% for article in commande %}
                              <tr>
                                  <td class="hidden-xs"><a href="#"><img src="/static/assets/images/produit{{ article.id_vetement }}.png" alt="{{ article.libelle_vetement }}"/></a></td>
                                  <td>
                                      <h5 class="product-title font-alt">{{ article.libelle_vetement }} - {{ article.libelle_marque }}</h5>
                                  </td>
                                  <td class="hidden-xs">
                                      <h5 class="product-title font-alt">{{ article.prix_vetement }}€</h5>
                                  </td>
                                  <td>
                                      <input class="form-control" disabled type="number" name="" value="{{ article.quantite }}" max="50" min="1"/>
                                  </td>
                                  <td>
                                      <h5 class="product-title font-alt">{{ article.somme_article }}€</h5>
                                  </td>

                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>



                  <div class="col-sm-5 col-lg-offset-7">
                      <div class="shop-Cart-totalbox">
                          <h4 class="font-alt">Total du panier</h4>
                          <table class="table table-striped table-border checkout-table">
                              <tbody>
                              <tr>
                                  <th>Sous-total de la commande</th>
                                  <td>{{ prix_total.somme }} €</td>
                              </tr>
                              <tr>
                                  <th>Frais de livraison</th>
                                  <td>{{ prix_total.quantite }} € </td>
                              </tr>
                              <tr class="shop-Cart-totalprice">
                                  <th>Total :</th>
                                  <td>{{ prix_total.total }} €</td>
                              </tr>
                              </tbody>
                          </table>

                      </div>
                  </div>



                  </div>
              </div>

              {% else %}

              <h3 class="text-center">Il n'y a rien ici ! Et si vous ajoutiez des produits ?</h3>
          {% endif %}

          </div>
        </section>
</div>


        <script>
    function changement_etat(id){
        select = document.getElementById('etat'+id);
        valeur = select.options[select.selectedIndex].value;
        window.location.href='/admin/commande/edit_etat/' + id + '&' + valeur;
    }


    </script>
{% endblock %}