{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block body %}

<hr class="divider-w">
<section class="module-small">
  <div class="container row">
  <div id="message_flashed"></div>
      <a href="/admin/article/add"><button class="btn btn-d btn-circle mb-4" >Ajouter un article</button></a>
    <div class="col-sm-12 col-lg-3">
        <h3>Filtres</h3>
        <form action="/admin/article/filtre" method="post">
            <input name="filter_word" type="text" placeholder="Recherche" size="10" class="form-control" value="{{ session['filter_word'] }}">
            <br>
            <div class="form-group">
                <h5>Prix :</h5>
                <input name="filter_prix_min" type="number" placeholder="Min" size="3" class="form-control"  value="{{ session['filter_prix_min'] }}" >
                <input name="filter_prix_max" type="number" placeholder="Max" size="3" class="form-control" value="{{ session['filter_prix_max'] }}">
            </div>

            <h5>Sexe : </h5>
            {% for item in sexes %}
            <input type="checkbox" name="filter_sexes" value="{{ item.id_sexe }}" id="type{{ item.id_sexe }}" {% set idItem = item.id_sexe | string %} {% if idItem in session['filter_sexes']%}checked{% endif %} >
                <label for="type{{ item.id_sexe }}">{{ item.libelle_sexe }}</label><br>
            {% endfor %}

                <h5>Tailles : </h5>
            {% for item in tailles %}
            <input type="checkbox" name="filter_tailles" value="{{ item.id_taille }}" id="type{{ item.id_taille }}" {% set idItem = item.id_taille | string %} {% if idItem in session['filter_tailles']%}checked{% endif %} >
                <label for="type{{ item.id_taille }}">{{ item.libelle_taille }}</label><br>
            {% endfor %}

            <h5>Type de vetement : </h5>
            {% for item in itemsFiltreType %}
            <input type="checkbox" name="filter_types" value="{{ item.id_type_vetement }}" id="type{{ item.id_type_vetement }}" {% set idItem = item.id_type_vetement | string %} {% if idItem in session['filter_types']%}checked{% endif %} >
                <label for="type{{ item.id_type_vetement }}">{{ item.libelle_type_vetement }}</label><br>
            {% endfor %}
            <br>
            <button class="btn btn-border-d">Rechercher</button>
            <br>
            <br>
            <a href="/admin/filtre/suppr"><button class="btn btn-border-d" type="button">Supprimer le filtre</button></a>
        </form>
    </div>
    <div class="col-sm-12 col-lg-9 row multi-columns-row">
    {% if not articles %}
        <h3 class="text-center mb-0">Il n'y a rien ici !</h3>
        <h5 class="text-center mt-0"> Veuillez essayer de <a href="/admin/filtre/suppr">supprimer le filtre</a></h5>
    {% endif %} 
      {% for article in articles %}
          <div class="col-md-3">
              <div class="shop-item">
                  <div class="shop-item-image">
                          <img src="/static/assets/images/produit{{ article.id_vetement }}.png" alt="{{ article.libelle_vetement }}">
                      <div class="shop-item-detail">
                          <a href="/admin/article/edit/{{ article.id_vetement }}"><button class="btn btn-d btn-circle" >Modifier</button></a>
                          <a href="/admin/article/delete/{{ article.id_vetement }}"><button class="btn btn-danger btn-circle mt-10" >Supprimer</button></a>
                      </div>
                  </div>
                  <h4 class="shop-item-title font-alt">
                      <a href="/admin/article/details/{{ article.id_vetement }}">{{ article.libelle_vetement }} {{ article.libelle_marque   }} </a>
                  </h4>
                  <p>{{article.prix_vetement}} €</p>
              </div>
          </div>
          {% endfor %}

    </div>

  </div>
</section>

{% endblock %}