{% extends 'layout.html' %}

{% block title %}
    Product
{% endblock %}

{% block body %}
<div class="main">
    <div id="message_flashed"></div>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 mb-sm-40">
                  <a class="gallery">
                  <img src="/static/assets/images/produit{{ article.id_vetement }}.png" alt="{{ article.libelle_vetement }}">
                  </a>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h1 class="product-title font-alt mb-0">{{ article.libelle_vetement }} <a href="/admin/article/edit/{{ article.id_vetement }}"><span class="icon-pencil" style="color: blue"></span></a><a href="/admin/article/delete/{{ article.id_vetement }}"><i class="fa fa-fw" style="color: red">&#xf014</i></a></h1>
                      <h3 class="product-title font-alt">{% for marque in marques %}{{ marque.libelle_marque }} {% endfor %}</h3>
                  </div>
                </div>
                <div class="row mb-20">
                  <div class="col-sm-12">
                      {{ stat_comment.count }} commentaire(s), note moyenne : {{ stat_comment.avg }}
                  </div>
                </div>
                <div class="row mb-20">
                  <div class="col-sm-12">
                    <div class="price font-alt"><span class="amount">{{ article.prix_vetement }} €</span></div>
                  </div>
                </div>
                <div class="row mb-20">
                  <div class="col-sm-12">
                    <div class="description">
                        <div class="product_meta">
                            Categorie : {{ article.libelle_type_vetement }} <br>
                            Matières : {% for matiere in matieres %}{{ matiere.libelle_matiere }} {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-20">
                  <div class="col-sm-4 mb-sm-20">
                    <form action="/client/panier/add" class="row">
                        <input type="hidden" value="{{ article.id_vetement }}" name="id">
                        <select class="form-control" name="taille" onchange="changement_taille()" id="taille">
                            <option value="">Choisir une taille</option>
                            {% for taille in tailles %}
                                <option value="{{ taille.id_taille }}" data-stock="{{ taille.stock }}">{{ taille.libelle_taille }} ({{ taille.stock }} )</option>
                            {% endfor %}
                            
                        </select><br><br>
                        <input class="form-control col-sm-8" type="number" value="1" min="1" max="50" name="quantite" id="quantite"><br>
                        <button class="btn btn-lg btn-block btn-round btn-b text-center">
                            Ajouter au panier
                        </button>
                    </form>
                  </div>

                </div>


                <div class="row mt-10">
                  <div class="col-sm-12">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                      <li><span class="icon-tools-2"></span>Reviews ({{ stat_comment.count }})</li>
                    </ul>
                      <div class="tab-pane" id="reviews">


                        <div class="comments reviews">
                            {% for commentaire in commentaires %}
                                <div class="comment clearfix">
                                    <div class="comment-content clearfix">
                                        <div class="comment-author font-alt">
                                            {{ commentaire.prenom_users}} {{ commentaire.nom_users}}<a href="/admin/comment/delete/{{ commentaire.id_commentaires }}&{{ article.id_vetement }}"><i class="fa fa-times"></i></a>
                                        </div>
                                        <div class="comment-body">
                                            <p>{{ commentaire.txt_commentaire }}</p>
                                        </div>
                                        <div class="comment-meta font-alt" id="target-star{{ commentaire.id_commentaires }}">{{ commentaire.date_commentaire }}
                                        </div>
                                        <script>
                                            for (let i = 0; i < {{ commentaire.note_commentaire }}; i++) {
                                                document.getElementById('target-star{{ commentaire.id_commentaires }}').innerHTML+='<i class="fa fa-star star"></i>';
                                            }
                                            for (let i = 0; i < 5-{{ commentaire.note_commentaire }}; i++) {
                                                document.getElementById('target-star{{ commentaire.id_commentaires }}').innerHTML+='<i class="fa fa-star star-off"></i>';
                                            }
                                        </script>
                                    </div>
                                </div>
                                <hr class="m-0">
                            {% endfor %}
                        </div>




                      </div>
                    </div>
                  </div>




              </div>
            </div>

            </div>
        </section>
        <hr class="divider-w">
        <section class="module-small">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Related Products</h2>
            <div class="row multi-columns-row">

             {% for article in proposed %}
          <div class="col-md-3">
          <a href="/client/article/details/{{ article.id_vetement }}">
              <div class="shop-item">
                  <div class="shop-item-image">
                          <img src="/static/assets/images/produit{{ article.id_vetement }}.png" alt="{{ article.libelle_vetement }}">
                  </div>
                  <h4 class="shop-item-title font-alt">
                      {{ article.libelle_vetement }} {{ article.libelle_marque   }}
                  </h4>
                  <p>{{article.prix_vetement}} €</p>
              </div>
              </a>
          </div>
          {% endfor %}

                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
</div>


    <script>
    function changement_taille(){
        select= document.getElementById('taille');
        quantite = document.getElementById('quantite');
        console.log(quantite.ariaValueMax)
        quantite.max = document.getElementById('taille').options[document.getElementById('taille').selectedIndex].dataset.stock;
    }
    function getgold(id){
        for (let i = 1; i <= id; i++) {
            document.getElementById('etoile'+i).className = 'fa fa-star star';
            document.getElementById('etoile'+i).id = 'etoilegold'+i;
        }
    }
    function getgray(id){
        for (let i = 1; i <= id; i++) {
            document.getElementById('etoilegold'+i).className = 'fa fa-star star-off';
            document.getElementById('etoilegold'+i).id = 'etoile'+i;

        }
    }

    function lockgold(id){
        for (let i = 1; i <= id; i++) {
            document.getElementById('etoilegold'+i).id = 'etoile_lock'+i;
        }
        document.getElementById('note').value= id;
    }
    function resetstar(){
        document.getElementById('note').value= null;
        for (let i = 1; i <= 5; i++) {
            document.getElementById('etoile_lock'+i).className = 'fa fa-star star-off';
            document.getElementById('etoile_lock'+i).id = 'etoile'+i;
        }
    }
    </script>
{% endblock %}